<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Templates</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@4.2.0/index.min.css">
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    
    <h1 class="bg-red-100  py-6 p-10">Hello</h1>
    {% block mainContent %}
    
    <h2>Home Page</h2>
    {% endblock mainContent %}



    
</body>
</html>

